# General files and extensions that should be ignored
Thumbs.db
*.bak
*.tmp
*.exe

# Do include colorette's exe, though
!Colorette.exe

# Ignore the config/local and config/private folders entirely.
config/local/
config/private/

# Test folder, ignore most things, but not subdirectories or test icons.
test/*
!test/testGreen.ico
!test/testRed.ico
!test/*/

# Ignore everything inside share/*/Includes folders, except the specific _NeededIncludes file.
share/**/Includes/*
!_NeededIncludes

# Always include keep.txt files.
!keep.txt