# General files and extensions that should be ignored
Thumbs.db
*.bak
*.tmp
*.exe

# Ignore folders containing local config info
config/local/

# Ignore folders containing other repositories
test/
config/ahkPrivate/
