# General files and extensions that should be ignored
Thumbs.db
*.bak
*.tmp
*.exe

# Ignore folders containing local config info
config/local/

# Ignore folders containing other repositories
test/
config/ahkPrivate/

# Test folder, ignore most things, but not subdirectories or test icons.
test/*
!test/testGreen.ico
!test/testRed.ico
!test/testWindowInfo.tls
!test/*/
