{ ; Includes, other here-to-stay auto-execute things.
	#NoEnv  ; Recommended for performance and compatibility with future AutoHotkey releases.
	SendMode Input  ; Recommended for new scripts due to its superior speed and reliability.
	SetWorkingDir %A_ScriptDir%  ; Ensures a consistent starting directory.
	#SingleInstance force
	#Include <includeCommon>
	setCommonHotkeysType(HOTKEY_TYPE_Standalone)
	setUpTrayIcons("testGreen.ico", "testRed.ico")
	DetectHiddenWindows, On
}

; --------------------------------------------------------------------------

; Any specific auto-execute things that are needed go here.


; --------------------------------------------------------------------------

^b::
	
return

^+b::
	
return

; --------------------------------------------------------------------------
{ ; Hotkeys that don't change.
	
	; Hotkey to open test.ahk for editing.
	^+e::
		editScript(A_LineFile)
	return
	
	F1::
		selectWindowInfo() {
			WinGetClass, currClass, A
			tooltipText := getTooltipText()
			WinGetTitle, currTitle, A
			currControl := ControlGetFocus("A")
			winId := WinGet("ID")
			; DEBUG.popup("Class",currClass, "Title",currTitle, "Control",currControl, "Tooltip text",tooltipText, "ID",winId)
			
			s := new Selector("testWindowInfo.tls")
			infoAry := s.selectGui()
			key  := infoAry["KEY"]
			name := infoAry["NAME"]
			
			if(key = "CLASS")
				textToCopy := currClass
			else if(key = "TOOLTIP")
				textToCopy := tooltipText
			else if(key = "TITLE")
				textToCopy := currTitle
			else if(key = "CONTROL")
				textToCopy := currControl
			else if(key = "ID")
				textToCopy := winId
			
			if(textToCopy)
				setClipboardAndToast(textToCopy, "Clipboard set to " StringLower(name))
			else
				Toast.showForTime(name " not found", 2)
		}
	
	!XButton1::
	!XButton2::
		setClipboardAndToast(getTooltipText(), "Clipboard set to tooltip")
	return
}

#Include <commonHotkeys>
